{% extends 'base.html.twig' %}

{% block title %}Infinity - Mon Compte{% endblock %}

{# Bloc pour acceuillir la feuille de style CSS #}
{% block stylesheets %}
    <link rel="stylesheet" href="../css/moncompte.css">
{% endblock %}

{% block body %}

    <!-- DEBUT HEADER -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <h2 class="titre-blanc"> Bienvenue sur votre compte </h2>
                </div>
            </div>
        </div>
    </header>
    <!-- FIN HEADER -->


    <main>

        <!-- DEBUT DONNES PERSONNELLES -->
        <section class="rgpd">

            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col text-center m-5">
                        <h3> Mes données personnelles </h3>
                        <i class="deco deco-left"></i>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                {# Informations "Mon compte" + possibilité de les modifier  #}
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-3 offset-2">
                            <div class="form-group">
                                <label for="inputprenom">Prénom</label>
                                {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'id': 'inputprenom', 'placeholder': 'Prénom'}}) }}
                            </div>
                        </div>
                        <div class="col-3 offset-2">
                            <div class="form-group">
                                <label for="inputnom">NOM de famille</label>
                                {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'id': 'inputnom', 'placeholder': 'NOM'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3 offset-2">
                            <div class="form-group">
                                <label for="datedenaissance">Date de naissance</label>
                                {{ form_widget(form.birthdate, {'attr': {'class': 'form-control', 'id': 'datedenaissance', 'placeholder': 'Date de naissance'}}) }}
                            </div>
                        </div>
                        <div class="col-3 offset-2">
                            <div class="form-group">
                                <label for="ville de naissance">Ville de naissance</label>
                                {{ form_widget(form.birth_city, {'attr': {'class': 'form-control', 'id': 'villedenaissance', 'placeholder': 'Ville de naissance'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3 offset-2">
                            <div class="form-group">
                                <label for="email">Adresse email</label>
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'id': 'email', 'placeholder': 'Email'}}) }}
                            </div>
                        </div>
                        <div class="col-3 offset-2">
                            <div class="form-group">
                                <label for="phone">Numéro de téléphone</label>
                                {{ form_widget(form.phone_number, {'attr': {'class': 'form-control', 'id': 'phone', 'placeholder': 'Téléphone'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8 offset-2">
                            <div class="form-group">
                                <label for="adressepostale">Adresse postale</label>
                                <input type="adresse" class="form-control" id="adressepostale" placeholder="Adresse postale">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3 offset-2">
                            <div class="form-group">
                                <label for="codepostale">Code postal</label>
                                <input type="codepostale" class="form-control" id="codepostale" placeholder="Code Postale">
                            </div>
                        </div>
                        <div class="col-3 offset-2">
                            <div class="form-group">
                                <label for="commune">Ville</label>
                                <input type="Commune" class="form-control" id="Commune" placeholder="Commune">
                            </div>
                        </div>
                    </div>

                {# S'occupe des champs qui ont été oubliés  #}
                {# Le render rest false empèche d'afficher les champs manquants  #}
                {{ form_end(form, {'render_rest': false})  }}
                
                <div class="text-center">
                    <button class="btn btn-secondary">{{ button_label|default('Sauvegarder') }}</button>
                </div>

            </div>

        </section>
        <!-- FIN DONNES PERSONNELLES -->


        <!-- DEBUT DE LA FORMULE NUMERIQUE -->
        <section class="maformule" class="bg-light-darkest pb-5">

            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col text-center m-5">
                        <h3> Ma formule </h3>
                        <i class="deco deco-right"></i>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center my-5">
                <div class="col-lg-3">
                    <div class="card card-formule-detail">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div>
                                <h4 class="card-title text-center">{{offer.offerName}}</h4>
                                <ul class="my-5">
                                    <li><img src="../img/icones/beneficiaires.svg" alt="">{{offer.recipientsMax}} bénéficaire(s)</li>
                                    {% if offer.solidMax > 0 %}
                                        <li><img src="../img/icones/cloudupload.svg" alt="">Jusqu'à {{offer.solidMax}} capsule(s) physique(s)</li>
                                    {% endif %}
                                    {% if offer.virtualMax > 0 %}
                                        <li><img src="../img/icones/cloudupload.svg" alt="">Jusqu'à {{offer.virtualMax}} capsule(s) numérique(s)</li>
                                        <li><img src="../img/icones/cloudupload.svg" alt="">Importer vos photos / vidéos / écrits</li>
                                        <li><img src="../img/icones/stockage.svg"> {{offer.storageMax}} Go de d'espace de stockage sécurisé</li>
                                    {% endif %}
                                </ul>
                                <h4 class=" text-center my-5">{{offer.price}}€ / mois</h4>
                            </div>
                            <div class="text-center">
                                <a href="#" class="btn btn-secondary"> Modifier </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- FIN DE LA FORMULE NUMERIQUE -->


        <div id="compte-destinataires-root">
            {# Affichage React de gestion des destinataires rattachés à l'utilisateur connecté #}
        </div>


        <div id="compte-capsules-root">
            {# Affichage React de gestion des capsules rattachées à l'utilisateur connecté #}
        </div>

    </main>

{% endblock %}


